<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="demo.Listeners" />
	</listeners>
	<test name="Flipcart Home Page">
		<classes>
			<class name="demo.HomePageTest" />
		</classes>
	</test>
	<test name="Flipcart Search Funtionality">
		<classes>
			<class name="demo.SearchPageTest" />
		</classes>
	</test>
	<test name="Flipcart Product Page">
		<classes>
			<class name="demo.ProductDetailsPageTest" />
		</classes>
	</test>
</suite> <!-- Suite -->